awscli==1.19.50
Brotli==1.0.9
cffi==1.14.5
cryptography==3.4.7
cython==0.29.22
httpbin==0.7.0
numpy==1.20.3
pandas==1.2.4
perfdat==4.3.1
psycopg2==2.8.6
pyrsistent==0.18.0
pytest==6.2.4
pywebui==0.1
PyYAML==6.0
reportlab==3.5.66
setuptools-rust==0.12.1
setuptools<=57.4.0
simplejson==3.17.5
